<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>{{ message }}</h3>
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                {% for er in error %}
                     <div class="alert alert-danger" >
                            {{ er }}
                      </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        <form class="form-horizontal" method="POST" action="">
            {{ form.csrf_token() }}
           
            <div class="form-group">
                {{ form.serial_numbers.label }}
                {{ form.serial_numbers(class="form-control") }}
            </div>
    
            <div class="form-group">
                {{ form.type_device.label }}
                {{ form.type_device(class="form-control") }}
            </div>
            
            <div class="form-group">
                {{ form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
</body>
</html>



